https://tinghao.moe {
  encode zstd gzip

  @images {
    path *.jpg *.jpeg *.png *.gif *.webp *.avif *.svg
  }
  header @images {
    Cache-Control "public, max-age=7200"
  }
  file_server {
    precompressed br zstd
  }
  route /api/* {
    header Cache-Control "no-cache"
    file_server
  }
}
